*{
  
    font-family: "Open Sans", sans-serif;
}
header{
    height: 600px;
    width: 1320px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
   
   
}
.banner_section{
    background-image: url('Banner Image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0px auto 50px;
    

   
}

header{
    padding: 100px;
    display: flex;
    text-align: center;
    align-items: center;
}
header>h2{
    font-size: 40px;
    font-weight: 600px;
}

header>h1{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    width: 500px;
}


.offer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.offer-heading{
    font-size: 50px;
    font-weight: 800;
}
/* party section starts */

.party-section{
    padding: 100px;
    color: white;
    height: 600px;
    width: 1320px;
    background-image: url('Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 50px auto;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}
.party-section>p{
    width: 50%;
    text-align: justify;
}

.party-section>h1{
    font-size: 50px;
    font-weight: 800;
}

button:hover{
    background-color: black;
}
/* party section end */


/* time section starts */
.time-section{
    height: 300px;
    width: 1320px;
    background-color:lightpink;
    border-radius: 8px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}
span{
    color: red;
    
}
button{
    padding: 10px 20px;
    color: whitesmoke;
    background-color: red;
    border: 1px solid lightpink;
    border-radius: 5px;
    width: 200px;
}
/* time section end */

/* coming soon section starts */
.coming-soon-section{
    height: auto;
    width: 1320px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 50px;
}
.coming-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    width: 430px;
}
.coming-soon-heading, .year24{
    font-size: 45px;
    font-weight: 700;
}
.coming-section-pic{
    padding: 30px;
    border: 10px solid red;
    border-radius: 500px;
}
/* coming soon section end */

/* holiday section start */
.holiday-section{
    width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.holiday-content{
    display: flex;
    flex-direction: column;
    grid-area: 20px;
    justify-content: center;
    align-items: center;
}

.holiday-content>p{
    width: 600px;
    text-align: center;
}

.holiday-heading{
    font-size: 40px;
    font-weight: 800;
}
.holiday-pic{
    
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
.holidayPic3{
    height: 263px;
    width: 100%;   
}

.holidayPic2{
    margin-left: -150px;
}

.red-image{
    background-image: url('Rectangle 2.png');
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-top: -200px;
}
/* holiday section end */


/* portfolio section starts */
.portfolio-section{
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
}
.portfolio-content>p{
    width: 700px;
    text-align: justify;
}
.portfolio-heading{
    font-size: 40px;
    font-weight: 600;
}


.portfolio-pic{
    display: flex;
    justify-content: space-between;
}
.portfolio-pic>img:hover{
    border: 5px solid green;
    border-radius: 50px;
}
/* portfolio section end */


/* **************Subscribe section starts*************** */
.subscribe-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 1320px;
    align-items: center;
    margin: 50px auto;
    background-color:lightpink;
    padding: 50px;
    border-radius: 20px;

}
.subscribe-section>p{
    width: 700px;
    text-align: center;
}
.subscribe-heading{

    font-size: 35px;
    font-weight: 700;
}
.email-icon{
    height: 100px;
    width: 100px;
}

.email-input{
    padding: 10px 20px;
    border: 1px solid lightpink;
    border-radius: 25px 0px 0px 25px;
}
.submit-btn{
    background-color: red;
    padding: 10px 25px;
    border: 1px solid lightpink;
    border-radius: 0px 25px 25px 0px;
    margin-left: -20px;
}
.submit-btn:hover{
    background-color: brown;
    color: white;
    border: 2px solid red;
}


/* #########footer section starts######### */


footer{
    background-color: black;
    color: white;
}

.footer-content{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.call-details{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.call-details>img{
    width: 15px;
    height: 25px;
}
.website-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.website-details>img{
    width: 15px;
    height: 25px;

}

hr{
    width: 90%;
    margin: 0 auto;
    color: darkgray;
}
.social-icon{
    display: flex;
   margin: 5px auto;
   align-items: center;
   justify-content: center;
   gap: 10px;
  
}
.copyright-section{
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
}
/* #########footer section End######### */