header{
    height: 600px;
    width: 1320px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
   
   
}
.banner_section{
    background-image: url('Banner Image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 50px auto;
   
}

header>h1, h2{
    text-align: center;
    padding: 20px;
}

.offer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.party-section{
    height: 600px;
    width: 1320px;
    background-image: url('Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 50px auto;
   

}
.time-section{
    height: 300px;
    width: 1320px;
    background-color:lightpink;
    border-radius: 8px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    color: red;
    
}
button{
    padding: 10px 20px;
    color: whitesmoke;
    background-color: red;
    border: 1px solid white;
    border-radius: 5px;
}

.coming-soon-section{
    height: auto;
    width: 1320px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

/* holiday section start */
.holiday-section{
    width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.holiday-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.holiday-pic{
    
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
.holidayPic3{
    height: 263px;
    width: 100%;   
}

.holidayPic2{
    margin-left: -150px;
}

.red-image{
    background-image: url('Rectangle 2.png');
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-top: -200px;
}
/* holiday section end */


/* portfolio section starts */
.portfolio-section{
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
}


.portfolio-pic{
    display: flex;
    justify-content: space-between;
}

/* portfolio section end */


/* **************Subscribe section starts*************** */
.subscribe-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1320px;
    align-items: center;
    margin: 50px auto;
    background-color:lightpink;
    padding: 50px;
    border-radius: 20px;

}
.email-icon{
    height: 100px;
    width: 100px;
}

.email-input{
    padding: 10px 20px;
    border: 1px solid lightpink;
    border-radius: 25px 0px 0px 25px;
}
.submit-btn{
    background-color: red;
    padding: 10px 25px;
    border: 1px solid lightpink;
    border-radius: 0px 25px 25px 0px;
    margin-left: -20px;
}


/* #########footer section starts######### */


footer{
    background-color: black;
    color: white;
}

.footer-content{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.call-details{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.call-details>img{
    width: 15px;
    height: 25px;
}
.website-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.website-details>img{
    width: 15px;
    height: 25px;

}

hr{
    width: 90%;
    margin: 0 auto;
    color: darkgray;
}
.social-icon{
    display: flex;
   margin: 5px auto;
   align-items: center;
   justify-content: center;
   gap: 10px;
  
}
.copyright-section{
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
}
/* #########footer section End######### */